html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

body{
  width: 1200px;
  height: 950px;
  background-color: #ece6d3;
}

.main, .container, .ng-scope{
  width: 100%;
  display: block;
  position: relative;
}

.container{
  padding: 2rem;
}


.companyTitle{
  display: block;
  margin: 0 auto;
  width: 200px;
  font-size: 40px;
  color: purple;
}

.loginForm{
  background-color: grey;
  margin: 2rem auto 0;
  display: block;
  overflow: hidden;
  width: 400px;
  height: 400px;
  text-align: center;
  clear: both;
  position: relative;
}

.usernameWrapper,
.loginPassword,
.promptPassword,
.loginSubmit{
  display: block;
  margin: 1rem auto 0;
}

.usernameWrapper{
  font-size: 30px;
}

.helloTest{
  margin: 2rem 0 auto;
}

.toSignUp,
.toLogin{
  position: absolute;
  display: block;
  margin: 0 auto;
  bottom: 0;
}

.toLogin{
  right: 0;
}

.main.nav{
}

.profileButton{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.profileArrow{
  font-size: 18px;
  font-weight: bold;
}

.profileModal{
  background-color: white;
  width: 150px;
  position: absolute;
  top: 36px;
  right: 10px;
  box-shadow: 1px 1px 2px black;
  display: none;
}

.profileModal ul{
  list-style-type: none;
  padding: 1px;
}

.profileModal li{
  display: block;
  font: 16px Arial;
  text-align: center;
  padding: 6px 10px;
  width: 100%;
  /*border-top: 1px solid grey;*/
  box-shadow: 0 0 1px black;
  cursor: pointer;
}

.profileModal li:hover{
  display: block;
  background-color: lightgrey;
}

.testButton{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.testButton input{
  background-color: red;
}
